<h3>SIMPLE CALCULATOR</h3>
<div class="container">
  <div class="input-container">
    <input id="input1" type="number" [(ngModel)]="value1">
    +
    <input id="input2" type="number" [(ngModel)]="value2">
    = <span id="result">{{result}}</span>
    <button (click)="add()">Calculate</button>
  </div>
</div>
